PORT=3000
MONGODB_URL=mongodb://mongo:27017/tocopedia
JWT_SECRET=change_me
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_S3_BUCKET=tocopedia-images-dev
AWS_REGION=ap-southeast-1
AWS_ENDPOINT_URL=http://localstack:4566
AWS_S3_PRESIGN_ENDPOINT=http://localhost:4566
AWS_S3_PUBLIC_URL=http://localhost:4566/tocopedia-images-dev
